*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg-img{
    width: 100%;
    background: url(img/tesla-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    position: relative;
}

.middle-nav{
    display: flex;
    justify-content: center;
}
nav ul{
    margin-right: 40px;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    padding: 10px;
    color: black;
    transition: 1s;
}

a.active, a:hover{
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 3px solid cadetblue;
}

.logo{
    width: 100px;
    height: 80px;
    position: absolute;
}

.logo-img{
    width: 100%;
    margin: 40px 40px 0px;
    background-size: cover;
    color: black;
}

.right-nav{
    position: absolute;
    right: 0%;
    top: 0%;
}

.middle-text{
   width: 100%;
   height: 100%;
   margin: 0 auto;
}