
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg-img{
    width: 100%;
    background: url(img/tesla-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    position: fixed;
}

.middle-nav{
    display: flex;
    justify-content: center;
}
nav ul{
    margin-right: 40px;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 10px;
    color: rgb(0, 0, 0);
    /* background-color: #090909;
    border-radius: 15px;
    background-repeat: no-repeat; */
    transition: 0.5s;
}

nav ul li a:hover{
    background-color: grey;
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

.logo{
    width: 100px;
    height: 80px;
    position: absolute;
}

.logo-img{
    width: 100%;
    margin: 40px 40px 0px;
    background-size: cover;
    color: black;
}

.right-nav{
    position: absolute;
    right: 0%;
    top: 0%;
}

.middle-text, 
.modely-text, 
.models-text,
.modelx-text,
.solarPanel-text,
.solarRoof-text,
.acc-text{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
    margin: 0 auto;
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.middle-title,
.modely-title,
.models-title,
.modelx-title,
.solarPanel-title,
.solarRoof-title,
.acc-title{
    color: #171a17;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.middle-para,
.modely-para,
.modelx-para,
.solarPanel-para,
.solarRoof-para{
    color: #171a17;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.middle-button,
.modely-button,
.modelS-button,
.modelX-button,
.solarPanel-button,
.solarRoof-button,
.acc-button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
    padding: 20px;
    opacity: 0.9;
}

.btn-1, .btn-2,
.btn-1y, .btn-2y,
.btn-1s, .btn-2s,
.btn-1x, .btn-2x,
.btn-1solar, .btn-2solar,
.btn-1roof, .btn-2roof{
    width: 260px;
    height: 40px;
    border-radius: 30px;
    margin: 12px;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn-1,
.btn-1y,
.btn-1s,
.btn-1x,
.btn-1solar,
.btn-1roof{
    background-color: #090909;
    color: bisque;
}

#model-y{
    width: 100%;
    background: url(img/ModelY.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

#model-s{
    width: 100%;
    background: url(img/ModelS.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.models-container{
    width: 100%;
    height: 100vh;
    position: relative;
}


#model-x{
    width: 100%;
    background: url(img/ModelX.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.modelx-container{
    width: 100%;
    height: 100%;
    position: relative;
}

#solarPanel{
    width: 100%;
    background: url(img/Solar.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.solarPanel-container{
    width: 100%;
    height: 100%;
    position: relative;
}

#solarRoof{
    width: 100%;
    background: url(img/RooF.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.solarRoof-container{
    width: 100%;
    height: 100%;
    position: relative;
}

#acc{
    width: 100%;
    background: url(img/acc.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.acc-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.btn-acc{
    width: 260px;
    height: 40px;
    border-radius: 30px;
    margin: 12px;
    border: none;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: #090909;
    color: bisque;
}

footer{
    width: 100%;
    height: 80px;
    position: relative;
}

footer ul{
    margin-left: 500px;
    list-style-type: none;
}

footer ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

footer ul li a{
    text-decoration: none;
    color: #171a17;
    font-size: 14px;
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}